
:root{
    --dark-bg: linear-gradient(to bottom right, rgb(11, 55, 0), rgb(7, 38, 0));
    --dark-shadow: rgb(4,25,0);
    --dark-border: linear-gradient(to bottom right, rgb(44,207,2), rgb(43,181,1));
    --dark-fg: rgb(142, 233, 142);
    --dark-hidden-fg:dimgray;
    --light-bg: rgb(178, 241, 178);
    --light-fg: #202020;
}


*{
    font-family: sans-serif;
    text-align: center;
}
header{
    padding-bottom: 0.5em;
    border-style: solid;
    border-width: thick;
    color: var(--dark-fg);
    background-image: var(--dark-bg);
    border-image: var(--dark-border);
    border-image-slice: 2;
    border-image-width: 0.4em;
    box-shadow: inset 4px 4px var(--dark-shadow);
}